/* Style Evento Cadastrar */
.caixa_cadastrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
}

.linha_formulario {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa_interna {
    color: #FFF;
    max-width: 600px;
}

/*Style Evento Registro */

.caixa_registro {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid cornflowerblue;
}

.tabela {
    max-height: 60vh;
    max-width: 70vw;
    overflow: scroll;
}


/*Style Evento Principal */

.caixa_principal {
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0F0;
}

.caixa_secundaria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 27vh;
    padding: 5px;
    border: 1px solid #F00;
}

.caixa_terciaria {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90%;
    border: 1px solid aqua;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    border: 1px solid #F0F;
}

.botao {
    width: 180px;
}


/* Evento Listar */

.caixa_lista {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    width: 60vw;
    border: 1px solid #F0F;
}

.card_img {
    width: 50%;
    padding-bottom: 5%;
}

/* Evento Listar Pesquisar */

.caixa_qrcode_2 {
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid #0F0;
}

.caixa_titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 5px;
    border: 1px solid #8000ff;
}


.caixa_titulo_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;

    border: 1px solid #8000ff;
}

.caixa_secundaria_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid #8000ff;
}

.caixa_terciaria_2 {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60%;
    border: 1px solid aqua;
}

.caixa_terciaria_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80%;
    border: 1px solid rgb(255, 217, 0);
}

.caixa_terciaria_4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid rgb(255, 0, 242);
}

.caixa_form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    
    max-width: 350px;
    max-height: 350px;
    height: 35vh;
    border-radius: 5%;
}



@media (max-width: 426px) {

    /* Style Evento Cadastrar */
    .caixa_cadastrar {
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .linha_formulario {
        width: 95vw;
        height: 91vh;
        justify-content: center;
    }

    .caixa_interna {
        height: 90vh;
        max-width: 600px;
    }

    /*Style Evento Registro */
    .caixa_registro {
        width: 100vw;
        height: 100vh;
        justify-content: space-evenly;
        border: 1px solid cornflowerblue;
    }

    .tabela {
        max-height: 80vh;
        max-width: 100vw;
        overflow: scroll;
    }

    /* Styles Principal */
    .caixa_principal {
        height: 100vh;
        width: 100vw;
        justify-content: center;
    }

    .caixa_terciaria {
        height: auto;
        flex-direction: row;
    }
    
    /* Evento Lista */
    .caixa_lista {
        height: 100vh;
        width: 100vw;
        justify-content:space-evenly;
        align-items: center;
    }

    .linha {
        height: 70vh;
    }

    .caixa_secundaria {
        height: 30vh;
    }

}