.caixa_comprimento {
    height: 70vh;
    width: 60vw;
    padding: 0px;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

.caixa_interna{
    /* border-radius: 5%; */
    background-color: #359830;
    color: #FFF;
    max-width: 768px;
    /* max-height: 80%; */
    
}

.form_tamanho{
    resize: both;
}

@media (max-width: 425px) {
    .caixa_comprimento {
        width: 90vw;
    }
} 