/* .caixa_secundaria,
.caixa_secundaria_ {
    height: 100vh;
    width: 60vw;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
} */

.caixa_secundaria_2 {
    height: 60vh;
    width: 40vw;
}


.form_tamanho {
    resize: both;
}



/* Style Formulario de Inscrição */

.caixa_cadastrar {
    display: flex;
    width: 70vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0F0;
}


.caixa_secundaria {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 5px;
    border: 1px solid #F00;
}

.caixa_interna {
    color: #FFF;
    max-width: 768px;

}

@media (max-width: 426px) {

    .caixa_cadastrar{
        width: 100vw;
        height: 100vh;
    }

    .caixa_secundaria {
        width: 90vw;
    }

    .caixa_secundaria_2 {
        width: 90vw;
        height: 100vh;
        justify-content: space-evenly;
    }
}