.caixa_comprimento {
    height: 40vh;
    padding: 0px;
}

.caixa {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.cx_interna {
    width: 60%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card_img {
    width: 100%;
    padding-bottom: 5%;
}


/* .card{
    display: flex;
    height: 40vh;
    align-items: center;
    vertical-align: middle;
} */

/* .card_body{
    display: flex;
    height: 40vh;
    align-items: center;
    vertical-align: middle;
} */