.caixa_comprimento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 41.6vh;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 10vh;
}

.botao{
    width: 200px;
  }

/* .cx_interna {
    width: 60%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
} */

.card_img {
    width: 50%;
    padding-bottom: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* @media (max-width: 425px ) or (max-width: 768px) or (max-width: 1024px)  {
    .card_img {
        width: 50%;
    }
} */


@media (max-width: 425px) {
    .caixa_comprimento {
        height: 20vh;
        padding: 0px;
    }
    .caixa {
        height: 20vh;
    }
    /* botao{
        width: 100px;
      } */
}


/* .card{
    display: flex;
    height: 40vh;
    align-items: center;
    vertical-align: middle;
} */

/* .card_body{
    display: flex;
    height: 40vh;
    align-items: center;
    vertical-align: middle;
} */