.caixa_secundaria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 0px;
}

.caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.botao {
    width: 200px;
}

.card_img {
    width: 50%;
    padding-bottom: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


@media (max-width: 425px) {
    .caixa_secundaria {
        height: 20vh;
    }

    .caixa {
        height: 20vh;
        justify-content: center;
        flex-direction:row;
        flex-wrap: nowrap;
    }

    .card_img {
        width: 45%;
       
    }


}