/*Style Confirmacao */
body {
    background-color: #2F9E41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa_lista {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    background-color: #FFF;
    box-shadow: 5px 8px 8px black;
}

.caixa_terciaria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


@media (max-width: 426px) {

    /* Evento Lista */
    .caixa_lista {
        height: 130vh;
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;
        background-color: #2F9E41;
    }

    .caixa_terciaria {
        justify-content: center;
        box-shadow: 5px 8px 8px black;
        border-radius: 3%;
        width: 70vw;
        height: 50vh;
        background-color: #FFF;
    }

}