
.footer{
  display: flex;
  width: 99vw;
  height: 20vh;
  box-sizing: border-box;
  background-color: cadetblue;
  margin: 0px;
}

.linha_horizontal {
  border-top: 1px solid #FFF; /* Cor e espessura da linha */
  margin: 10px 0; /* Espaçamento acima e abaixo da linha */
}