.menu_cabecalho{
    background-color: #FFF;
    border-bottom: 3px solid #F00;
    color: #000;
    height: 25vh;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cx_img{
    display: flex;
    justify-content: center;
}

.img{
    width: 35%;
    /* max-width: 200px; */
}

.inicio:hover{
    cursor: pointer;
}

@media (max-width: 425px) {
    .img{
        width: 25%;
        /* max-width: 200px; */
    }

    .menu_cabecalho{
        height: 40vh;
    }

    .titulo{
        margin-top: 5%;
    }
  }
  