.conteiner {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 80vh;
    min-width: 400px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
}

.coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    max-width: 500px;
}


.cartao {
    /* shadow-2-strong w-100 */
    width: 100%;
    /* min-width: 300px; */
    max-width: 400px;
}

@media (max-width: 425px) {
    .conteiner {
        width: 100%;
        border: 1px solid #F00;
    }

    .caixa {
        min-width: 90vw;
    }

    .coluna {
        min-width: 70vw;
    }

    .cartao {
        width: 320px;
    }

}