.menu_lateral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; 
  min-height: 75vh;
  background-color: #359830;
}

.caixa_interna {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  width: 80%;
  height: 40%;
}


.botao{
  width: 120px;
  margin: 10px;
}


.caixa_principal{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}


@media (max-width: 425px) {
  .menu_lateral {
    /* height: 60vh; */
    min-height: 60vh;
    flex-wrap: nowrap;
  }
  .caixa_interna {
    width: 60%;
    height: 80%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
