.menu_lateral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #359830;
}

.caixa_interna {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  width: 80%;
  height: 40%;
}

.largura {
  height: 40vh;
}

.botao{
  width: 100px;
  margin: 10px;
}

@media (max-width: 425px) {
  .menu_lateral {
    height: 50vh;
  }
}


@media (max-width: 425px) {
  .caixa_interna {
    width: 60%;
    height: 50%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}