.menu_lateral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #2d045c;
}

.caixa_interna {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 80%;
  border: 1px solid #FFF;
}


/* Sidebar.css
@media (max-width: 768px) {
  .sidebar {
    display: none;
    /* Ocultar em telas menores 
  }
}
*/

.largura {
  height: 40vh;
}