
/*Style QRCODE Principal */

.caixa_qrcode {
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid #0F0; */
}

.caixa_secundaria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 27vh;
    padding: 5px;
    /* border: 1px solid #F00; */
}

.caixa_terciaria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
    /* border: 1px solid aqua; */
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    /* border: 1px solid #F0F; */
}

.botao {
    width: 180px;
}

.card_img {
    width: 50%;
    padding-bottom: 5%;
}



/* Style QRCODE GERAR ENTRADA E SAIDA*/

.caixa_qrcode_2 {
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 1px solid #0F0; */
}

.caixa_titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 5px;
    /* border: 1px solid #8000ff; */
}


.caixa_titulo_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;

    /* border: 1px solid #8000ff; */
}

.caixa_secundaria_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* border: 1px solid #8000ff; */
}

.caixa_terciaria_2 {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70%;
    width: 50vh;
    /* border: 1px solid aqua; */
}

.caixa_terciaria_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: #212529;
    color: #FFF;
    /* border: 1px solid rgb(255, 217, 0); */
}

.caixa_terciaria_4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20vw;
    height: 25vh;
    background-color: #212529;
    /* border: 1px solid rgb(255, 0, 242); */
}

.qr_img {
    width: 150px;

}

.caixa_form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;

    max-width: 350px;
    max-height: 350px;
    height: 35vh;
    border-radius: 5%;
}



@media (max-width:768px) {

    .caixa_qrcode_2 {
        height: 100vh;
        width: 70vw;
    }

    /* Style QRCODE GERAR ENTRADA */
    /* .caixa_secundaria_2 {
        border: 1px solid #800040;
    } */

    .caixa_terciaria_2 {
        height: 90%;
    }

    .caixa_terciaria_3 {
        height: 35vh;
        width: auto;
        /* border: 1px solid rgb(255, 217, 0); */
    }

    .caixa_terciaria_4 {
        width: 35vw;
        height: 27vh;
        background-color: #212529;
    }

    .qr_img {
        width: 150px;
    }

    .caixa_form {
        width: 35vw;
        height: 25vh;
    }
}

@media (max-width: 426px) {

    .caixa_qrcode {
        height: 100vh;
        width: 100vw;
        justify-content: space-evenly;
        /* color: 1px solid #808000; */
    }

    /* Style QRCODE Principal */
    .caixa_qrcode_2 {
        height: 100vh;
        width: 100vw;
        justify-content: space-evenly;
    }


    .caixa_terciaria {
        height: auto;
        flex-direction: row;
    }

    /* Style QRCODE GERAR ENTRADA */
    /* .caixa_secundaria_2 {

        border: 1px solid #800040;
    } */

    .caixa_terciaria_3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 40vh;
        /* border: 1px solid rgb(255, 217, 0); */
    }

    .caixa_terciaria_2 {
        height: 90%;
        /* border: 1px solid aqua; */
    }

    .caixa_terciaria_4 {
        width: 60vw;
        height: 32vh;
        justify-content: center;
        flex-direction: row;
        background-color: #212529;
    }

    .qr_img {
        width: 150px;
    }

    .caixa_form {
        width: 60vw;
        height: 35vh;
    }
}